vti_encoding:SR|utf8-nl
vti_author:SR|voodoopls
vti_syncwith_g5s7d7\:80/copy_of_g5s7d7:TR|06 Apr 2022 17:27:54 -0400
vti_cachedlinkinfo:VX|S|neodrule.gif S|neodbull1.gif S|neodbull2.gif S|neodbull3.gif S|neodbnr.gif S|neodhnd.gif S|neodhns.gif S|neodvnd.gif S|neodvns.gif S|neodhom.gif S|neodnex.gif S|neodpre.gif S|neodup.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|06 Apr 2022 17:27:54 -0400
vti_filesize:IX|1609
vti_modifiedby:SR|voodoopls
vti_cacheddtm:TX|06 Apr 2022 17:27:56 -0400
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|06 Apr 2022 17:27:54 -0400
